:where(.css-dev-only-do-not-override-tjsggz).ant-btn-variant-solid {
  background: #2B2D42 !important;
  border-color: #2B2D42 !important;
  color: #fff !important; /* Чтобы текст был читаем */
}

:where(.css-dev-only-do-not-override-tjsggz).ant-btn-variant-solid:hover {
  background: #D90429 !important;
  border-color: #D90429 !important;
  color: #fff !important;
}
/* 1. Инпуты Ant Design при фокусе: красная рамка и лёгкая тень */
.ant-input:focus,
.ant-input-focused {
  border-color: #D90429 !important;
  box-shadow: 0 0 0 1x rgba(217, 4, 41, 0.2) !important;
}

/* 2. Кнопки "outlined" при ховере:
   - меняем цвет рамки и текста на #D90429 */
.ant-btn.css-dev-only-do-not-override-tjsggz.ant-btn-default.ant-btn-color-default.ant-btn-variant-outlined:hover {
  border-color: #D90429 !important;
  color: #D90429 !important;
}
/* Для обычных инпутов */
.ant-input:focus,
.ant-input-focused {
  border-color: #D90429 !important;
  box-shadow: 0 0 0 1px rgba(217, 4, 41, 0.2) !important;
}

/* Для инпутов InputNumber */
.ant-input-number-focused,
.ant-input-number-focused .ant-input-number-input,
.ant-input-number-input:focus {
  border-color: #D90429 !important;
  box-shadow: 0 0 0 1px rgba(217, 4, 41, 0.2) !important;
}
