:where(.css-dev-only-do-not-override-tjsggz).ant-btn-variant-solid {
  background: #2B2D42 !important;
  border-color: #2B2D42 !important;
  color: #fff !important; /* Чтобы текст был читаем */
}

.ant-steps-item-finish .ant-steps-icon .anticon{
  svg{
    fill: white !important;
  }
}
.fravin_list {
  position: relative;
  overflow: hidden;
}

/* the left “bar” */
.fravin_list::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 0;
  height: 100%;
  background: #D90429;
  transition: width 0.3s ease;
}

/* when active, expand the bar */
.fravin_list.active::before {
  width: 8px;
}
:where(.css-dev-only-do-not-override-tjsggz).ant-btn-variant-solid:hover {
  background: #D90429 !important;
  border-color: #D90429 !important;
  color: #fff !important;
}
/* 1. Инпуты Ant Design при фокусе: красная рамка и лёгкая тень */
.ant-input:focus,
.ant-input-focused {
  border-color: #D90429 !important;
  box-shadow: 0 0 0 1x rgba(217, 4, 41, 0.2) !important;
}
:where(.css-dev-only-do-not-override-1hekg3w).ant-card:not(.ant-card-bordered){
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 10px;
}
:where(.css-dev-only-do-not-override-1hekg3w).ant-steps .ant-steps-item-finish .ant-steps-item-icon{
  background-color: #D90429 !important;
  border-color: #D90429  !important;
}
.anticon .anticon-check .ant-steps-finish-icon{
  background-color: #2B2D42 !important;
  border-color: #2B2D42 !important;
  svg{
    fill: white !important;
  }
}

.ant-steps-item-finish{
  .ant-steps-item-title{
    &::after{
      background-color: #2B2D42 !important;
    }
  }
}

.custom-steps .ant-steps-item-title {
  color: #2B2D42;
}

/* 2. Кнопки "outlined" при ховере:
   - меняем цвет рамки и текста на #D90429 */
.ant-btn.css-dev-only-do-not-override-tjsggz.ant-btn-default.ant-btn-color-default.ant-btn-variant-outlined:hover {
  border-color: #D90429 !important;
  color: #D90429 !important;
}
/* Для обычных инпутов */
.ant-input:focus,
.ant-input-focused {
  border-color: #D90429 !important;
  box-shadow: 0 0 0 1px rgba(217, 4, 41, 0.2) !important;
}

/* Для инпутов InputNumber */
.ant-input-number-focused,
.ant-input-number-focused .ant-input-number-input,
.ant-input-number-input:focus {
  border-color: #D90429 !important;
  box-shadow: 0 0 0 1px rgba(217, 4, 41, 0.2) !important;
}
